<div class="post">
    <div class="post-header">
        <div class="avatar-sm">
            <img src={{ this.userAvatar }} alt="Khoa Công Nghệ Thông Tin DH TDT">
        </div>
        <div class="post-header-infor">
            <a href="#" class="post-header-name">
                {{ this.username }}
            </a>
            <div class="post-header-time">
                {{ this.date}}
            </div>
        </div>
        <div class="post-header-operation">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            <ul class="list-operation">
                <li class="item-operation delete">
                    <label for="modal-delete-post" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-modal-btn"> Delete </label>
                </li>
                <li class="item-operation edit">
                    <label for="modal-edit-post"> Edit </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="post-content">
        <div class="post-text">
            {{ this.content}}
        </div>
        {{#if this.imagePath}}
        <div class="post-img">
            <img src={{ this.imagePath }} alt="">
        </div>
        {{/if}}
        {{#if this.urlYoutube}}
        <div class="post-video">
            <iframe width="560" height="315" src={{this.urlYoutube}} title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        {{/if}}
    </div>
    <div class="post-interact">
        <div class="comment-count">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <span>{{this.comments.length}} Comment</span>
        </div>
        <form action="/API/comment/{{this._id}}/create" method="post">
            <div class="add-comment">
                <input type="text" placeholder="Add a comment..." name="content">
                <button>
                    <ion-icon name="paper-plane"></ion-icon>
                </button>
            </div>
        </form>
    </div>
    <ul class="post-comment">
        {{#each this.comments}}
        {{> post/comment}}
        {{/each}}
    </ul>
    <div class="seemore">
        Seemore comments...
    </div>
</div>

{{!-- Modal delete--}}
<div id="delete-modal-btn" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-delete-post" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-post-form" method="post"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var PostId;
        var deleteForm = document.forms['delete-post-form'];
        var btnDeletePost = document.getElementById('btn-delete-post');

        $('#delete-modal-btn').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            PostId = button.data('id');
        });


        btnDeletePost.onclick = function () {
            deleteForm.action = '/API/post/' + PostId + '?_method=DELETE';
            deleteForm.submit();
        }
    });

</script>